/*font-family: 'Noto Sans', sans-serif;*/

/*inicio de base*/
body{
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px;
	line-height: 20px;
}

header{
	background-color: black;
	padding: 1em 0;
}

header h1{
	color: #fa0303;
	font-size: 3em;
	font-style: italic;
	font-weight: 100;
	display: inline-block;
	position: relative;
	bottom: 0.6em;
	padding-left: 0.2em;
}

.logo{
	padding-left: 2.85em;
	padding-top: 1em;
}

nav{
	background-color: #ae0404;
	margin-bottom: 2em;	
}

nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li{
	display: inline-block;
	width: 20%;
}

nav ul li a{
	color: white;
	text-decoration: none;
	text-align: center;
	padding: 0.4em 0.4em;
	display: block;
	font-size: 16px; 
}

nav ul li a:hover{
	background-color: #fa0303;
}

nav ul li a.activo{
	background-color: #fa0303;
}

footer{
	background-color: #2E2E2E;
	clear: both;
	color: #337ab7;
	font-size: 0.7em;
	font-style: italic;
	text-align: center;
	padding: 3em 0;
	margin-top: 2em;
}

.holder{
	width: 960px;
	margin: 0 auto;
}

.left{
	float:left;
}

.right{
	float:right;
}

/*fin de base*/

/*inicio de inicio*/

.inicioimg{
	margin-bottom: 1.5em;
}

.columnas{
	overflow: hidden;
}

.bienvenidos{
	width: 70%;
	padding-right: 2em;
}

.imagen{
	width: 30%;
	padding-top: 2.2em;
}

.bienvenidos,
.imagen{
	box-sizing: border-box;
}

.bienvenidos h2{
	color: #ae0404;
	font-size: 2em;
}

.bienvenidos p{
	font-size: 1.3em;
}
/*fin de inicio*/